@charset "utf-8";

/* Nanum Gothic */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* Noto Sans KR */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/**********갈무리9************/
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
/* font-family: 'Galmuri9'; */

@font-face {
	font-family: 'Chosunilbo_myungjo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ON-IGothic';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icon';
	src: url('./fonts/icomoon.eot?y5isk6');
	src: url('./fonts/icomoon.eot?y5isk6#iefix') format('embedded-opentype'),
		url('./fonts/icomoon.ttf?y5isk6') format('truetype'),
		url('./fonts/icomoon.woff?y5isk6') format('woff'),
		url('./fonts/icomoon.svg?y5isk6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url(./fonts/Lobster-Regular.ttf)format('truetype');
}
 
.sound_only	 { display: none; }

/* 초기화 */
html {overflow-y:auto}
body {margin:0;padding:0;	font-family: 'Galmuri9';}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {	font-family: 'Galmuri9';}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul, li {margin:0;padding:0;list-style:none}
legend {display: none;}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;}
button {cursor:pointer}
textarea, select {font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;}
a:link, a:visited {text-decoration:none}
a:hover, a:focus, a:active {text-decoration:none}

ul,li	{ margin: 0; padding: 0; }
i,sup,em	{ font-style: normal; }

label	{ cursor: pointer; }

img	{ max-width: 100%; vertical-align: middle; }

table	{ width: 100%; }

* {	font-family: 'Galmuri9';}

.fix-layout				{ position: relative; max-width: 1000px; margin: 0 auto; padding: 0 10px; }
.fix-layout .fix-layout	{ padding: 0; margin:0; }
.trans,
.trans *,
.trans *:after,
.trans *:before	{ -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; }

.none-trans,
.none-trans *,
.none-trans *:after,
.none-trans *:before	{ -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; }

.txt-left	{ text-align: left; }
.txt-center	{ text-align: center; }
.txt-right	{ text-align: right; }

/* scrollbar : ie except */
*::-webkit-scrollbar-track			{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: rgba(0, 0, 0, 0.2);}
*::-webkit-scrollbar				{ width: 5px; height: 5px; background-color: transparent;}
*::-webkit-scrollbar-thumb			{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background: #fff677; border: none; border-radius: 6.0em; }
 
/**********************
	Form Style
**********************/

.theme-form	{ width: 100%; }


/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #283646;background:#111;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

